@page
@model AuthSystem.Views.Shared.TeachersModel
@{
}
    <div class="text-center">
        <h1 class="display-4">Teachers</h1>
        Here you can see which subject teachers teach and something about themselves
    </div>
