@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Avondale College</h1>
    <p>New To Avondale College?<a href="https://localhost:5001/Identity/Account/Register"> Create an Account</a></p>
</div>

